<button class="ml-1" mat-icon-button [matMenuTriggerFor]="userActions">
    <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu" class="absolute top-3 -right-2 py-0">
    <button mat-menu-item routerLink="/profile">
        <mat-icon svgIcon="heroicons_outline:user-circle" />
        <span class="text-slate-500">Account</span>
    </button>
    <button mat-menu-item (click)="handleSwitchRole()">
        <mat-icon svgIcon="mat_solid:manage_accounts" />
        <span class="text-slate-500 -mb-0.5">Change Role</span>
    </button>
    <mat-divider class="my-0" />
    <button mat-menu-item (click)="signOut()">
        <mat-icon class="text-red-500" svgIcon="feather:log-out" />
        <span class="text-red-500">Log Out</span>
    </button>
</mat-menu>

<user-switch-role [class]="classList" [roles]="user?.roles" #switchRoleComponent />