<!-- Loading bar -->
<helper-loading-bar></helper-loading-bar>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card fixed top-0 left-0 right-0 z-50 flex h-16 pt-3 w-full flex-0 items-center pl-2 md:pl-4 pr-3 shadow dark:border-b dark:shadow-none print:hidden"
    >
        <!-- Navigation toggle button -->
        <div class="flex items-center gap-0.5">
            <img
                class="h-13 w-full -mt-2"
                src="images/logo/GameSTORE.png"
                alt="img"
            />
        </div>
        <button
            class="block md:hidden mt-1"
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')"
        >
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>

        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-4 sm:space-x-4">
            <!-- <scheme></scheme> -->
            <notifications></notifications>
            <!-- <languages></languages> -->
            <span
                class="relative border min-w-10 max-w-10 min-h-10 max-h-10 flex items-center justify-center rounded-full"
            >
                <img
                    class="border-2 min-w-12 max-w-12 min-h-12 max-h-12 object-cover rounded-full"
                    [src]="fileUrl + user?.avatar"
                />
            </span>
            <div class="mb-0.5 ml-1 md:ml-0">
                <p class="text-xl md:text-xl">{{user?.name}}</p>
                <p
                    class="md:text-md font-extralight text-[#ED5950] dark:text-white sm:text-xl text-[14px]"
                >
                    {{role?.name}}
                </p>
            </div>
            <user></user>

        </div>
    </div>

    <!-- Content Wrapper -->
    <div class="flex flex-auto">
        <!-- Navigation -->
        <helper-navigation
            class="dark bg-gray-900 print:hidden"
            [mode]="isScreenSmall ? 'over' : 'side'"
            [name]="'mainNavigation'"
            [navigations]="navigations"
            [opened]="!isScreenSmall"
        >
            <!-- Navigation header hook -->
            <ng-container helperNavigationContentHeader>
                <div class="flex justify-center p-10 mb-6"></div>
            </ng-container>
            <!-- Navigation footer hook -->
        </helper-navigation>
        <!-- Content -->
        <div class="flex flex-auto flex-col pt-14">
            @if (true) {
            <router-outlet></router-outlet>
            }
        </div>
    </div>
</div>
